- hosts: splunk
  become: yes
  tasks:

    - name: Install required packages
      apt:
        name: wget
        state: present
        update_cache: yes

    - name: Download Splunk Enterprise (stable)
      get_url:
        url: https://download.splunk.com/products/splunk/releases/9.2.1/linux/splunk-9.2.1-linux-amd64.tgz
        dest: /tmp/splunk.tgz
        mode: '0644'

    - name: Extract Splunk
      unarchive:
        src: /tmp/splunk.tgz
        dest: /opt
        remote_src: yes

    - name: Start Splunk and accept license
      command: /opt/splunk/bin/splunk start --accept-license --answer-yes --no-prompt
      args:
        creates: /opt/splunk/bin/splunk
