- hosts: splunk
  become: yes
  tasks:

    - name: Install required packages
      apt:
        name: wget
        state: present
        update_cache: yes

    - name: Download Splunk Universal Forwarder (stable)
      get_url:
        url: https://download.splunk.com/products/universalforwarder/releases/9.0.6/linux/splunkforwarder-9.0.6-linux-amd64.tgz
        dest: /tmp/splunkforwarder.tgz
        mode: '0644'

    - name: Extract Splunk Forwarder
      unarchive:
        src: /tmp/splunkforwarder.tgz
        dest: /opt
        remote_src: yes

    - name: Start Splunk Forwarder and accept license
      command: /opt/splunkforwarder/bin/splunk start --accept-license --answer-yes --no-prompt
      args:
        creates: /opt/splunkforwarder/bin/splunk
